@inherits LayoutComponentBase

<PageTitle>SolveMyIssue7</PageTitle>

<div class="page">
    
    <main>
        <img src="~/backgroundSMI.webp"/>
        <article>
            @Body
        </article>
    </main>
</div>
