@inherits LayoutComponentBase

<PageTitle>SolveMyIssue7</PageTitle>

<div class="">
    <NavMenu></NavMenu>
    <main>
        <img class="background-img" src="backgroundSMI.webp"/>
        <article>
            @Body
        </article>
    </main>
</div>
