.navbar {
  width: 100vw;
  position: relative;
}

.nav-links {
  margin-inline: auto;
}

.logo {
  all: unset;
  user-select: none;
  cursor: pointer;
  color: var(--on-background);
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2rem;
  padding-right: 0.75rem;
  width: 0;
}

.nav-link {
  color: var(--on-surface) !important;
  text-decoration: none;

  transition: all 0.1s ease-out;
}
.nav-link:hover {
  color: var(--on-background) !important;
  transform: translateY(-2px) !important;
}
