<nav class="navbar navbar-expand navbar-dark p-4">
    <div>
        <a class="logo" href="#">SMI</a>
    </div>

    <div class="d-flex flex-row align-items-center nav-links">
        <a class="nav-link" href="issue">Post</a>
        <a class="nav-link" href="ViewIssues">Issues</a>
        <a class="nav-link" href="issue">Account</a>
    </div>
</nav>