@page "/"

<PageTitle>Index</PageTitle>




<div class="d-flex flex-column justify-content-center align-items-center vh-100 hero">
    <h1 style="text-align:center">Solve each other's issues</h1>
    <h3>(〃￣︶￣)人(￣︶￣〃)</h3>
    @* <div class="glassmorphism">
        <p>Already have an account?</p>
        <button class="buttone primary">Log in</button>
    </div> *@
</div>
