@page "/"

<PageTitle>Index</PageTitle>




<div class="container mt-3 centered-container">
    <h2 class="glassmorphism">Solve My Issue</h2>
    <h3 class="glassmorphism">Welcome</h3>
    <p class="glassmorphism">Create an account and access our solutions to your Issues!</p>
    <br />
    <button class=" btn btn-primary glassmorphism">Getting Started</button>
    <br />
    <p class="glassmorphism">Already have an account?</p>
    <a class="btn btn-primary glassmorphism">Log in</a>
</div>
