@page "/solution/{issueId}"
@using SolveMyIssue7.Common.Interfaces
@using SolveMyIssue7.DataAccess.Models
@using SolveMyIssue7.DataAccess.Services
@using SolveMyIssue7.DataAccess.Services.Interfaces
@inject IIssueRepository IssueRepository
@inject ISolutionRepository SolutionRepository
@inject NavigationManager NavManager

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SMI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="issue">Issue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Solution">Solution</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ViewIssues">View Issues</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<h1>Solutions</h1>
<p>Provide below your Solution!</p>
<img src="logoSMI.png" alt="logo image" width="150" height="150" />

<EditForm class="form-group" Model="newSolution" OnSubmit="AddSolution">

    <img src="Sample_User_Icon.png" alt="users profile image" width="20" height="20" />
    <label for="user">User</label>
    <InputText class="form-control" @bind-Value="newSolution.Text"> </InputText>


    <button class="btn btn-primary" type="button" @onclick="Like">Like</button>
    <button class="btn btn-primary" type="button" @onclick="Dislike">Dislike</button>

    <button class="btn btn-primary" type="submit">Add Solution</button>
    
</EditForm>
<label <h4>Display all Users Solutions </h4></label>
<Virtualize Items="displaySolution.ToList()"  Context="solution">
   <li class="card bg-gradient border-3">
    <div>
        <div>@solution.Text</div>
            <button class="btn btn-primary" @onclick="() => Comment(solution)">Add Comment</button>
   </div>
   </li>
  
</Virtualize>






@code {

    [Parameter]
    public string IssueId { get; set; }

    private Solution newSolution = new Solution();
    private List<Solution> displaySolution = new List<Solution>();



    private async Task AddSolution()
    {

        newSolution.IssueId = IssueId;
        await SolutionRepository.AddAsync(newSolution);
        await AddSolutionToIssue(IssueId, newSolution.Id);
        var allSolutions = await SolutionRepository.GetAllAsync();
        displaySolution = allSolutions.ToList();
        newSolution = new Solution();
    }

    private async Task AddSolutionToIssue(string issueId, string solutionId)
    {
        var issue = await IssueRepository.GetByIdAsync(issueId);
        if (issue != null)
        {
            if (issue.Solutions == null)
            {
                issue.Solutions = new List<string>();
            }
            issue.Solutions.Add(solutionId); 
            await IssueRepository.UpdateAsync(issue);
        }
    }


    private void Like()
    {
       
    }

    private void Dislike()
    {
    }
    private void Comment(Solution solution)
    {}

}
